*{padding: 0%;margin: 0;border: 0;} 
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}  
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h5,h6{font-size: inherit;font-weight: inherit;}

body {
    background: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0px auto;   
}
.content-bottom_info{
    margin: 0px 0px 137px 0px;
}
.content-bottom_info_list li{
    font-size: 20px;
    margin: 0px 0px 15px 0px; 
    padding: 0px 0px 0px 0px;
    color: #273d46;
}
.content-bottom_info_list li:before{
    content: url(../img/icons/check_icon\ blue.png);
    margin: 0px 10px 0px 0px;
}
.content-bottom_info_list li:last-child{
    margin: 0px;
} 
.content-bottom_info_list li:nth-child(1){
    text-decoration: line-through;
    text-shadow: 0px 1px 0px rgba (0,0,0,0.3);
}
.content-bottom_info_list li:nth-child(1):hover{
    text-decoration: none;
}
.content-bottom_info_list li:nth-child(2){
    font-weight: bold;
}
.content-bottom_info_list li:nth-child(2):hover{
    font-weight: normal;
    color: #d55a5a;
}
.content-bottom_info_list li:hover:before{
    content: url(../img/icons/check_icon_red.png);
    margin: 0px 10px 0px 0px;
}
.content-bottom_info_list li:nth-child(3){
    font-style: italic;
}
.content-bottom_info_list li:nth-child(3):hover{
    font-style: normal;
}
.content-bottom_info_list li:nth-child(4){
    text-transform: uppercase;
}
.content-bottom_info_list li:nth-child(4):hover{
    text-transform: none;
}
.content-bottom_info_link{
    height: 44px;
    display: inline-block;
    line-height: 44px; 
    border-radius: 30px;
    padding: 0px 30px;
    background-color: #80b7b3;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0px 0px 125px 0px;
}
.content-bottom_info_link span{
    padding: 0px 32px 0px 0px;
    background: url(../img/icons/arrow.png) right no-repeat;
}
.content-bottom_info_link:hover{
   background-color: #3a5856; 
}
.content-bottom_info_link:active{
    background-color: #818181; 
 }
 .textinput{
    width: 292px;
    border: 1px solid #b0b0b0;
    margin: 0px 0px 118px 0px;
    padding: 17px 16px;
 }
 .textinput:focus{
 box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
 }

 .text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28px;
    margin: 0px 0px 43px 0px;
 }
 .text::first-line{
     color: #ff0000;
 }

 .text2{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28px;

 }
 .text2::first-letter{
     color: #ff0000;
     font-size: 50px;
    }